description = "este es el footer alterno al theme"

[viewBag]
==
<div class="footer-widgets" style="background-color:#3533ff">
    <div class="container">
        <div class="row">
			
            <!-- Footer Col 1 -->
            <div class="col l2 m4 s12">
                <a href=""><img src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/ceek-white.svg" style="width: 100px;"></a>
                <ul style="padding-top: 15px;" class="linksbold">
                  <li><a class="grey-text text-lighten-3" href="#!">VR Experiences</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">VR Headset</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">VR Labs</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                  
                </ul>
               
            </div>
            <div class="col l6 m4 s12" >
            	 <ul class="linksbold">
            	 <li> &nbsp;</li>
            	 <li> &nbsp;</li>
            	 <li> &nbsp;</li>
            	 <li>&nbsp;</li>
            	  <li><a class="grey-text text-lighten-3" href="#!">Careers</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">In the News</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Terms</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Privacy</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Healt & Safety</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Support</a></li>
                  
                  
                  </ul>
            </div>
            <!-- /Footer Col 1 -->

            <!-- Footer Col 2 -->
           
            <!-- /Footer Col 2 -->

            <!-- Footer Col 3 -->
         
            <!-- /Footer Col 3 -->

            <!-- Footer Col 4 -->
            <div class="col l4 m4 s12">
                <div class="widget_facebook_likebox" style="padding-top: 75px;">
                    <h3 class="title-footer" style="border-bottom: 2px solid #FFFFFF;color: #ffffff;">
                        OUR PARTNERS
                    </h3>
                    
                </div>
                <div class="row">
                	<div class="col s5"><img src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/universal.png" class="responsive-img"></div>
                	<div class="col s3"><img src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/mac.png" class="responsive-img"></div>
                	<div class="col s4"><img src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/google.png" class="responsive-img"></div>
                	
                </div>
                <div class="row">
                	<div class="col s6"><img src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/mobile.png" class="responsive-img"></div>
                	<div class="col s6" style="text-align: center;"><img src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/children.png" class="responsive-img"></div>
                	
                	
                </div>
            </div>
            <!-- /Footer Col 4 -->

        </div>
    </div>
</div>
