[viewBag]
==
<div style="height: 133px;color: white;text-align: center;">
	<h5 style="background-color:#3533ff;height: 34px;">CEEK HAS BEEN FEATURED IN</h5>
	<div class="row" style="width: 1365px;display: flex;justify-content: space-between;-webkit-flex-flow: row wrap;">
		<div class="s"><img  class="responsive-img" src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/wallstreet.png"></div>
		<div class="s"><img class="responsive-img" src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/forbes.png"></div>
		<div class="s"><img src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/bilboard.png"></div>
		<div class="s"><img class="responsive-img" src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/rollingstone.png"></div>
		<div class="s"><img class="responsive-img" src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/fortune.png"></div>
		<div class="s"><img class="responsive-img" src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/bloomerg.png"></div>
		<div class="s"><img class="responsive-img" src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/tech.png"></div>
				

	</div>
	
</div>