[viewBag]
==
<div style="color: white;">
	<h5 class="center-align" style="background-color:#3533ff;padding:7px; ">CEEK HAS BEEN FEATURED IN</h5>
	<div class="row tira" style="max-width: 1365px;display: flex;justify-content: space-between;-webkit-flex-flow: row wrap;margin-top: 20px;">
		<div ><img  class="responsive-img" src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/wallstreet.png"></div>
		<div ><img class="responsive-img" src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/forbes.png"></div>
		<div ><img src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/bilboard.png"></div>
		<div ><img class="responsive-img" src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/rollingstone.png"></div>
		<div ><img class="responsive-img" src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/fortune.png"></div>
		<div ><img class="responsive-img" src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/bloomerg.png"></div>
		<div ><img class="responsive-img" src="http://localhost/ceeknew/themes/vojtasvoboda-vega%20pro/assets/img/tech.png"></div>
				

	</div>
	
</div>